body {
    background-color: rgb(188, 129, 188);
    font-family: 'Times New Roman', Times, serif;
}

button {
    width: 150px;
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    justify-self: center;
    margin: 40px;
    background-color: bisque;
    transition: 0.5s;
}

button:hover {
    scale: 1.05;
}

p {
    text-align: center;
}

table {
    width: 95vw;
}

video {
    height: 380px;
    margin: auto;
    display: block;
}

.heading {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
}

.homepage_div {
    border: 2px solid black;
    border-radius: 4px;
    justify-self: center;
    min-width: 325px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
}

.display_buttons {
    display: inline;
    height: 40px;
    width: 90px;
    margin-top: -1px;
}

.hide {
    display: none;
    font-size: small;
    margin: -15px;
    text-align: center;
}

.image_box {
    border: 2px solid black;
    border-radius: 4px;
    min-width: 350px;
    min-height: 400px;
    max-width: 500px;
    max-height: 500px;
    justify-self: center;
    padding-top: 10px;
}
img {
    margin: auto;
    display: block;
}

.centre_text {
    text-align: center;
    max-width: 520px;
    justify-self: center;
}

#yes:hover ~ .hide_yes { 
    display: block; 
    color: green; 
}

#no:hover  ~ .hide_no  { 
    display: block; 
    color: red;  
}

#fancy_font {
    font-style: italic;
}

#roses {
    margin: -10px;
    margin-bottom: -100px;
}

#heart {
    margin-left: 85%;
}